// colours

$netlife_green: #a4c921;
$netlife_green: #95cd28;

$netlife_medium_green: #619210;
$netlife_dark_green: #496e1b;

$netlife_white: White;
$netlife_black: #353535;

$netlife_light_grey: #e6e8e0;
$netlife_dark_grey: #353535;