html.svg {
	
	#header #ident h2 a {
		background-image: url(../img/ident/webdagene-2012.svg);
	}
	
	#languages {

		ul {

			li a {
				background: url(../img/menu/english-black.svg) no-repeat;
			}

			li a:hover {
				background: url(../img/menu/english-black-over.svg) no-repeat;
			}

			li.current-menu-item a,
			li.current-menu-ancestor a,
			li.current-page-ancestor a {
				background: url(../img/menu/english-white.svg) no-repeat;
			}

			li.current-menu-item a:hover,
			li.current-menu-ancestor a:hover,
			li.current-page-ancestor a:hover {
				background: url(../img/menu/english-white-over.svg) no-repeat;
			}

		}

	}

	#footer {

		#netlife {

			h2 a {
				background-image: url(../img/ident/netlife-research.svg);
			}
		}
	}

}

@media only screen and (max-width: 599px) {

	html.svg {

		#header #ident h2 a {
			background-image: url(../img/ident/webdagene-2012-black.svg);
		}

	}

}
