// SPONSORS

#sponsorlist  {

	position: relative;
	float: left;
	width: 100%;
	
	ul {
		float: left;
		width: 100%;
		list-style: none;
		padding: 0;
		margin: 0 0 24px 0;
		
		li {
			float: left;
			width: percentage(1/3);
			padding: 0 10px;
			
			img {
				

			}

		}

	}

}

// 600

@media only screen and (min-width: 600px) {
	@import "screen-conference-sponsors-600";
}

// 960

@media only screen and (min-width: 980px) {
	@import "screen-conference-sponsors-960";
}