// SINGLE CONTACT 

.contact {
	float: left;
	width: 100%;
	position: relative;

	.wp-edit {
		position: absolute;
		top: 0;
		left: 0;
	}
	
	a {
		text-decoration: none;
		
		h2 {
			text-decoration: underline;
		}
	
		p {
			color: $text;
		}
			
	}
	
	
	img {
		float: left;
		width: 60px;
		height: 60px;
		border: 0;
		margin: 5px 10px 0 0;
	}
	
	h2 {
		font-size: 20px;
		font-weight: normal;
		line-height: 24px;
		margin: 0 0 4px 0;
	}
	
	p {
		font-family: georgia, serif;
		font-size: 14px;
		line-height: 20px;
		margin: 0;
	}

	ul {
		list-style: none;
		
		li {

			strong {
				display: none;
			}

			a {
				color: $text;
				text-decoration: underline;
				
				&:hover {
					color: $link_hover;
				}
			}
			
			&.email {
				font-size: 12px;
			}


		}

	}

}

// PEOPLE LIST

#peoplelist {

	.contact {
		float: left;
		width: 100%;
	}

}

// CONTACT FOOT

#contacts {

	border-top: 1px dotted Black;
	padding: 24px 0 0 0;
	
	
	.download {

		h2 {
			margin: 0 0 12px 0px;
		}

		ul {
			list-style: none;
			padding: 0;
			margin: 0 0 24px 0;
			
			li {

				a {
					display: block;
					background: url(../img/icon/download-small.png) top left no-repeat;
					
					padding: 0 0 0 30px;
					
					&:hover {
						background-image: url(../img/icon/download-small-over.png);
					}

				}

			}
			
		}

	}
	
}

// 600

@media only screen and (min-width: 600px) {
	@import "screen-netlife-people-600";
}

// 900

@media only screen and (min-width: 840px) {
	@import "screen-netlife-people-840";
}

// 960

@media only screen and (min-width: 980px) {
	@import "screen-netlife-people-960";
}