// SINGLE CONTACT 

.contact {


	img {
		float: left;
		width: 90px;
		height: 90px;
		border: 0;
		margin: 0 10px 0 0;
	}
	
	p {
		display: block;
	}
	
	ul {
		clear: none;
	}

}

// CONTACT FOOT

#contacts {

	.download {
		position: relative;
		float: left;

		h2 {
			display: block;
			position: absolute;
			left: 10px;
			top: -78px;
			font-size: 24px;
			line-height: 30px;
			margin: 0;
			width: 50%;
		}

		ul {

			li {

				a {
					display: block;
					width: 64px;
					height: 90px;
					background: url(../img/icon/download.png) bottom no-repeat;
					line-height: 1000px;
					overflow: hidden;
					
					padding: 0;
					
					&:hover {
						background-image: url(../img/icon/download-over.png);
					}

				}

			}
			
		}

	}
	
}