// HEADER 600

#header {
	float: left;
	width: 100%;
	height: 160px;
	padding: 60px 0 0 0;
	
	#netlife {
		display: block;
		float: left;
		width: percentage(300px / 940px);

		h5 {
			margin: -4px 0 0 -4px;

			background: url(../img/ident/netlife-research.svg) no-repeat;
			width: 110px;
			height: 50px;
			display: block;
			line-height: 1000px;
			overflow: hidden;

		}

	}
	
	#description {
		position: relative;

		float: right;
		width: percentage(620px / 940px);

		h2 {
			position: absolute;
			left: -75px;
			top: -60px;
			z-index: 100;
			margin: 0;
		}

		p {
			position: relative;
			left: 0;
			bottom: 0;

			font-size: 16px;
			line-height: 24px;
			font-style: italic;
			
			em {
				display: inline;
			}
			
		}

	}
	
}