// RELATED

#related {
	position: relative;
	float: left;
	width: 100%;
	border-top: 1px dotted $text;
	padding: 24px 0 0 0;

	h2 {
		font-size: 12px;
		line-height: 20px;
		text-transform: uppercase;
		margin: 0 0 4px 0;
	}

}

// 600

@media only screen and (min-width: 600px) {
	@import "screen-blog-related-600";
}

// 960

@media only screen and (min-width: 980px) {
	@import "screen-blog-related-960";
}

// SEARCH

#search {

	input[type=text] {
		font-size: 14px;
		line-height: 20px;
	
		float: left;
		width: 60%;
		margin: 0 8px 0 0;
	}
	
	input[type=submit] {
		height: 26px;
	}

}

#categories {

	ul {
		float: left;
		width: 100%;

		list-style: none;
		padding: 0;
		margin: 0 0 24px 0;

		li {
			float: left;
			margin: 0 5px 0 0;
			
			font-size: 12px;
			line-height: 24px;
			color: $netlife_medium_green;
			
			a {
				font-size: 16px;
				font-weight: normal;
				margin: 0;
			}
			
		}

	}
	
}

// POPULAR AND ACTIVE POSTS

#popular_posts,
#active_posts {
	float: left;
	width: 100%;
	
	.story {
	
		h3 {
			font-size: 18px;
			line-height: 24px;
		}
		
		.avatar {
			width: 60px;
			height: 60px;
			margin: 5px 10px 0 0;
			
		}
		
	}
	
	ol {
		float: left;
		width: 100%;
		padding: 0 20px 0 0;
		list-style: inside decimal;
		
		li {
			color: $netlife_dark_grey;
		color: $netlife_medium_green;

			em {
				display: none;
				background: $netlife_green;
				color: Black;
				font-family: arial, sans-serif;
				font-size: 9px;
				font-weight: bold;
				font-style: normal;
				padding: 0 2px;
			}

		}
		
	}

}