// ILLUSTRATION

#illustration {
	padding: 0 10px;
}

// EXPERIENCE

#experience {
	padding: 0;

	h2 {
		padding: 0 10px 0 330px;
	}

	dl {
		
		dt {
			padding: 12px 10px 0 330px;
		}
		
		dd {
			padding: 0 10px 0 330px;
		}
		
	}

}