// FEATURE 720

#feature {
	height: 360px;
	
	figure {
		top: -60px;
		height: 380px;
	}
	
	h1 {
		position: relative;
		width: 70px * 5;
		font-size: 70px;
		line-height: 70px;
		letter-spacing: -2px;
		margin: 24px 0 24px 0;
	}
	
}