// SINGLE CONTACT 

.contact {

	img {
		float: left;
		width: 90px;
		height: 90px;
		border: 0;
		margin: 0 10px 0 0;
	}
	
	p {
		display: block;
	}
	
	ul {
		clear: none;
	}

}

// CONTACT FOOT

#contacts {

	.more {
		float: left;
		width: 960px;
		padding: 0 10px 0 330px;
	}

	.download {
		position: relative;
		float: left;
		width: 320px;
		padding: 0 10px;
	}
	
	.contacts {
		float: right;
		width: 640px;

		.contact {
			float: left;
			width: 420px;
			padding: 0 90px 0 10px;
			margin: 0 0 0 -100px;
		}

	}
	
}