/* SCHEDULE */

#schedule {
	float: left;
	width: 100%;
}

#schedule h2 {
	margin: 0 0 20px 0;
}

#schedule table {
	float: left;
	width: 100%;
	display: inline; /* IE6 */
	border-collapse: collapse;
	padding: 0;
	margin: 0 0 24px;

	tr th,
	tr td {
		border-top: 1px solid Black;
		vertical-align: top;
		padding: 10px percentage(10px / 960px);
	}

	tr th {
		width: percentage(300px / 960px);
	}
	
	tr td,
	tr td.single {
		width: percentage(600px / 960px);
	}

	tr.head th  {
		background: Black;
		font-family: "Avant Garde", "Avant Garde Gothic ITCW01Bd", georgia, serif;
		font-size: 16px;
		font-weight: normal;
		color: White;
	}
	
	tr.parallell td {
		width: percentage(300px / 960px);
		
		aside img {
			display: none;
		}
		
		ul.action {
			list-style: none;
			padding: 0;
		}
		
	}
	
	 tr td {
		
		.session {
			position: relative;
			float: left;
			width: 100%;
		
			.wp-edit {
				position: absolute;
				top: 4px;
				right: 0px;
			}
		
			a:hover {
				text-decoration: underline;
			}

		}

		aside {
			
			img {
				margin: 5px 5px 0 0;	
				width: 60px;
				height: 60px;
			}
		
		}
		
		strong {
			font-family: "Avant Garde", "Avant Garde Gothic ITCW01Bd", georgia, serif;
			font-size: 16px;
			font-weight: normal;
			color: White;

			a {
				color: White;
				text-decoration: none;
			}

			a:hover {
				text-decoration: underline;
			}

		}

		em {
			font-family: "Avant Garde", "Avant Garde Gothic ITCW01Bd";
			font-size: 12px;
			text-transform: uppercase;
			font-style: normal;
			font-weight: normal;
			color: $netlife_green;

			a {
				text-decoration: none;
			}
		}
		
	}
		
}

/* SMALL */

@media only screen and (max-width: 599px) {

	#schedule table tr {
		display: block;
		float: left;
		width: 100%;
	}

	#schedule table tr th,
	#schedule table tr td,
	#schedule table tr.parallell td {
		display: block;
		float: left;
		width: 100%;
		padding: 10px 0;
	}

	#schedule table tr td aside {
		float: left;
		margin: 0 5px 0 0;
		width: auto !important;

		img {
			float: left;
			width: 60px;
			height: 60px;
			margin: 5px 5px 0 0;
		}

	}

	/* head */

	#schedule table tr.head th:first-child {
		display: none;
	}

	#schedule table tr.head th {
		text-align: center;
		font-size: 12px;
		line-height: 20px;
		text-transform: uppercase;
		padding: 5px 0;
	}

	/* track */
	
	#schedule table tr th {
		color: $netlife_green;
		padding: 10px 0 0 0;
	}

	#schedule table tr td {
		border-top: 0;
	}
	
	#schedule table tr td em,
	#schedule table tr td em a {
	}

}

/* 600 */

@media only screen and (min-width: 600px) {

	#schedule table tr td aside img {
		min-width: 60px;
		width: percentage(120px / 280px);
		height: auto;
	}

}