// ELSEWHERE 960

#elsewhere {
	width: 100%;
	margin: 0;
	
	#conferences {
		width: 320px;
		padding: 0 10px 0 10px;
		margin: 0 0 0 320px;
	}

	#newsletter {
		width: 320px;
		padding: 0 10px;
	}
	
}