// ELSEWHERE 600

#elsewhere {
	width: 100%;
	margin: 0;
	
	#conferences {
		position: relative;
		float: left;
		display: block;
		width: percentage(320px / 940px);
		padding: 0 percentage(10px / 940px);
		margin: 0 0 0 percentage(310px / 940px);
	}

	#newsletter {
		float: right;
		display: block;
		width: percentage(310px / 940px);
		padding: 0 0 0 percentage(10px / 940px);
	}

}

// webdagene bomb

#conferences .bomb {
	position: absolute;
	left: -310px;
	top: -80px;

}
