// SINGLE CONTACT 

.contact {

	p {
		margin: 0;
	}


	ul {
		clear: both;
	}

}

// PEOPLE LIST

#peoplelist {

	.contact {
		float: left;
		width: percentage(320px / 960px);
		padding: 0 0 0 percentage(10px / 960px);

		&:nth-child(3n+4) {
			clear: both;
		}

	}

}

// CONTACT FOOT

#contacts {

	border-top: 1px dotted Black;
	padding: 24px 0 0 0;
	
	.more {
		float: left;
		width: 100%;
		padding: 0 percentage(10px / 960px) 0 percentage(330px / 960px);
	}

	.download {
		display: block;
		float: left;
		width: percentage(320px / 960px);
		padding: 0 percentage(10px / 960px);
		
		h2 {
			width: 50%;
			font-size: 20px;
			line-height: 24px;
			margin: 0 0 24px 0;
		}

		ul {
			list-style: none;
			padding: 0;
			margin: 0;
			
			li {

				a {
					display: block;
					background: url(../img/icon/download-small.png) top left no-repeat;
					
					padding: 0 0 0 30px;
					
					&:hover {
						background-image: url(../img/icon/download-small-over.png);
					}

				}

			}
			
		}


	}
	
	.contacts {
		float: right;
		width: percentage(640px / 960px);

		.contact {
			float: left;
			width: percentage(320px / 640px);
			padding: 0 percentage(10px / 640px);
		}

	}

	
}