#footer {
	width: 100%;
	margin: 0;

	clear: both;
	position: relative;
	display: inline; /* ie fix */
	float: left;
	width: 100%;
	padding: 24px 0;
	
	#contact {
		float: left;
		display: block;
		width: percentage(310px / 940px);
		padding: 0 percentage(10px / 940px) 0 0;
	}
	
	#visit {
		float: left;
		display: block;
		width: percentage(320px / 940px);
		padding: 0 percentage(10px / 940px);
	}

	#twitter {
		float: left;
		display: block;
		width: percentage(310px / 940px);
		padding: 0 0 0 percentage(10px / 940px);
	}
	
	
	p a {
		display: block;
		
	}

}