// SPONSORS 600

#sponsorlist  {

	clear: both;
	position: relative;
	display: inline; /* ie fix */
	float: left;
	width: percentage(640px / 620px);
	margin: 0 0 0 percentage(-10px / 620px);	

	ul {
		
		li {
			float: left;
			width: percentage(160px / 960px);
			padding: 0 percentage(10px / 960px);
		}

	}

}