/* TABMENU */

#layers {
	float: left;
	width: 100%;
	margin: 0;
}

/* NAVIGATION */

#layers ul.ui-tabs-nav {
	float: left;
	width: 100%;
	list-style: none;
	padding: 0;
	margin: 0 0 20px 0;
}

#layers ul.ui-tabs-nav li {
	float: left;
	font-family: "AvantGardeGothicITCW01B 731063", "Avant Garde Gothic ITCW01Bd";
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
	text-transform: uppercase;
	margin: 0 20px 0 0;
}

/* LINKS */

#layers ul.ui-tabs-nav li a  {
	float: left;
	text-decoration: none;
	color: $tabmenu_link;
}

#layers ul.ui-tabs-nav li a strong {
	font-weight: normal;
	display: block;
	padding: 0 0 12px 0;
	color: $tabmenu_link;
}

#layers ul.ui-tabs-nav li a:hover,
#layers ul.ui-tabs-nav li a:hover strong  {
	background: url(../img/layers-arrow.png) bottom center no-repeat;
	color: $tabmenu_over;
}

#layers ul.ui-tabs-nav li.ui-tabs-selected a strong {
	background: url(../img/layers-arrow-on.png) bottom center no-repeat;
	color: $tabmenu_on;
}

/* CONTENT */

#layers .ui-widget-content {
	float: left;
	width: 100%;
}

/* hide */

#layers .ui-tabs-hide {
   display: none;
}