// small screens

#content {
	position: relative;
	width: auto;
	
	// aside

	aside {
		position: relative;
		float: left;
		width: 100%;
	}

	// section

	section {
		position: relative;
		float: left;
		width: 100%;
	}
	
	// images
	
	img {
		max-width: 100%;
		height: auto;
	}
	
	figure {

		float: left;
		width: 100%;
		
		img {
			max-width: 100%;
			height: auto;
			margin: 0 0 4px 0;	
		}
		
		figcaption {
			margin: 0 0 24px 0;
			color: $meta;
		}

		// small images
		
		&.small {
			float: left;
			margin: 0 0 24px 0;
		
			img {
				float: left;
				width: 50%;
				height: auto;
				margin: 0;
			}
			
			figcaption {
				box-sizing: border-box;
				float: right;
				width: 50%;
				padding: 0 0 0 10px;
			}
		
		}		
		
	}
	
}

/* 600 */

@media only screen and (min-width: 600px) {
	@import "screen-content-600";
}

/* 980 */

@media only screen and (min-width: 980px) {
	@import "screen-content-960";
}