// HEADER MOBILE

#header {
	float: left;
	width: 100%;
	height: auto;
	padding: 60px 0 12px 0;

	
	#menu {
		position: relative;
	
		h4 {

			position: absolute;
			top: 0;
			right: 0;

			display: block;
			width: 44px;
			height: 44px;

			z-index: 2000;
			
			a {
				@include hide-text;
				display: block;
				background: url(../img/menu/mobile-menu.png) no-repeat;
				background-size: 44px 44px;
				width: 44px;
				height: 44px;
			}
			
		}
		
		ul {
			display: none;

			@include box-sizing(content-box);
			width: 100%;
			padding: 0 10px;

			//display: none;
			border-top: 1px solid White;
			float: left;
			//margin: 0 0 80px 0;

			margin: 20px 0 20px -10px;
			
			li {

				@include box-sizing(content-box);
				width: 100%;
				padding: 0 10px;
				margin: 0 0 0 -10px;


				float: left;
				width: 100%;
				border-bottom: 1px solid White;
				font-size: 16px;
				line-height: 24px;
			}

			li a {
				display: block;
				padding: 10px 0;
			}
		
		}
	
	}
	
}

html.svg {

	#header #menu h4 a {
		background: url(../img/menu/mobile-menu.svg) no-repeat;
	}
	
}