// PROJECTLIST

#projectlist {
	
	.project {

		&:nth-child(3n+5) {
			clear: both;
		}
		
	}
	
}

// project

.project {

	float: left;
	width: percentage(320px / 960px);
	padding: 0 percentage(10px / 960px);

	a {

		float: left;
		width: 100%;

		text-decoration: none;
	
		img {
			float: left;
			width: 100%;
			margin: 0 0 8px 0;
		}
		
		h3 {
			text-decoration: underline;
		}
		
		p {
			font-size: 14px;
			margin: 0;
		}
	
	}
	
}

// featured case

#case {
	float: left;
	width: 100%;
	padding: 0;
	margin: 0 0 48px 0;

	a {
		
		figure {
			float: right;
			width: percentage(640px / 960px);
			padding: 0 percentage(10px / 960px);

			img {
				margin: 0;
			}
	
		}
		
		hgroup {
			float: left;
			width: percentage(320px / 960px);
			padding: 0 percentage(10px / 960px);


			h2 {
				margin: 0 0 8px 0;
			}	
		
			h3 {
				font-size: 24px;
				line-height: 36px;
				margin: 0 0 48px 0;
			}

		}
	
	}

}

// CLIENT LIST

#clientlist  {
	
	ul {
		
		li {
			float: left;
			width: percentage(160px / 960px);
			padding: 0 percentage(10px / 960px);
		}

	}

}