#related {
	width: 100%;
	margin: 0;
	
	#services, 	
	#calendar,
	#blog {
		float: left;
		width: 320px;
		padding: 0 10px;
	}

	#popular_posts,
	#active_posts {

		.story {

			
		}
		
		ol {
			list-style: outside decimal;
			width: 280px;
		}

	}
	
}

// CASE STUDY

#case {

	article {
	
	

	}

	h5 {
		float: left;
		width: 320px;
		padding: 0 10px;
	}

}