// project

.project {

	float: left;
	width: 320px;
	padding: 0 10px;

}

// featured case

#case {

	a {
		
		figure {
			width: 640px;
			padding: 0 10px;
		}
		
		hgroup {
			float: left;
			width: 320px;
			padding: 0 10px;

			h2 {
				margin: 0 0 8px 0;
			}	
		
			h3 {
				font-size: 36px;
				line-height: 40px;
			}

		}
	
	}	

}


// CLIENT LIST

#clientlist  {
	
	ul {
		
		li {
			float: left;
			width: 160px;
			padding: 0 10px;
		}

	}

}