// headers

body {
	font-family: 'Droid Serif';
	font-size: 16px;
	line-height: 25px;
	color: #444;
}

a {
	color: Red;
}


h1 {
	font-size: 24px;
	font-weight: bold;
}

h2 {
	font-size: 20px;
}

h3 {
	font-size: 18px;
}

h4 {
	font-size: 16px;
}

p {
	margin: 0 0 25px 0;
}

strong {
	font-weight: bold;
}

ul,
ol {
	margin: 0 0 25px 0;	
}


table {
	width: 100%;

	th {
		font-family: 'Droid Sans';
	}

	thead {
		
	}

}