/* METADATA */

#content {

	.metadata {

		ul {
			list-style: none;
			padding: 0;
			margin: 0 0 24px 0;
			
			li {
				position: relative;
				font-size: 16px;
				line-height: 24px;
				
				strong {
					font-family: "Avant Garde", Georgia, serif;
					font-size: 12px;
					font-weight: normal;
					text-transform: uppercase;
				}
				
				em {
					font-size: 13px;
					padding: 0 0 0 70px;
				}
				
			}

		}

	}

}

/* 600 */

@media only screen and (min-width: 600px) {
	@import "screen-content-metadata-600";
}