/* FOOTER */

#footer {
	clear: both;
	width: auto;
	padding: 24px 0;
	border-top: 1px solid Black;

	h2 {
		font-size: 12px;
		font-weight: normal;
		text-transform: uppercase;
		line-height: 20px;
		margin: 0 0 4px 0;
	}
	
	p { 
		font-size: 14px;
		line-height: 20px;
	}

	#contact,
	#visit,
	#twitter {
		float: left;
		width: 100%;
	}

}

// 600

@media only screen and (min-width: 600px) {
	@import "screen-netlife-footer-600";
}

// 960

@media only screen and (min-width: 980px) {
	@import "screen-netlife-footer-960";
}