// HEADER 960

#header {
	float: left;
	width: 960px;
	padding: 60px 0 0 0;

	#netlife {
		width: 320px;
		padding: 0 10px;
	}
		
	#description {
		width: 640px;
		padding: 0 10px;

		h2 {
			left: -65px;
		}
		
	}
	
}