// HEADER

#header {
	position: relative;
	width: 100%;

	#ident {
		position: relative;
		z-index: 2;
	
		display: block;
		width: 100px;
		height: 50px;
		margin: 0 auto;
		
		h1 a {
			display: block;
			width: 100px;
			height: 50px;
			
			background: url(../img/header/ident.svg);
			
			line-height: 1000px;
			overflow: hidden;

		}
		
		h2 {
			display: none;
		}
		
	}

	#toolbar {
		position: absolute;
		z-index: 1;

		top: 0;
		left: 0;
		
		width: 100%;

		ul {
			list-style: none;
			padding: 0;
			margin: 0;
			
			li {
				
				&.menu {
					float: left;
					margin-left: -15px;

					a {
						display: block;
						width: 50px;
						height: 50px;
						background: url(../img/header/menu.svg);
						
						line-height: 1000px;
						overflow: hidden;
					}

				}

				&.filter {
					float: right;
					margin-right: -15px;
					
					a {
						display: block;
						width: 50px;
						height: 50px;
						background: url(../img/header/search.svg);
						
						line-height: 1000px;
						overflow: hidden;
					}
					
				}
				
			}

		}		
		
	}

}

// MENU

#menu {
    display: none;
    position: absolute;
    position: fixed;

    top: 0;
    height: 100%;
    z-index: -999999;

    width: 260px;
    padding: 0 15px;

    background: $link;
    color: White;
    
    // search
    
    form {
	    
	    
	    
    }
    
    // menu
    
    ul {
	    
	    list-style: none;
	    padding: 0;
	    margin: 0;
	    
	    float: left;
	    width: 100%;
	    
	    li {

		    float: left;
		    width: 100%;
		    
		    a {
			    padding: 10px 0;
			    float: left;
			    width: 100%;
			    color: White;
		    }
		    
	    }
	    
    }

}

// FILTER

#filter {
    display: none;
    position: absolute;
    position: fixed;
    
    overflow: scroll;

    top: 0;
    height: 100%;
    z-index: -999999;

    width: 260px;
    padding: 0 20px;

    background: Black;
    color: White;

	form {
		
		
	}
	
	&.focus {
//		width: 100%;
		background: $link;
	}

}