#comments {
	width: percentage(940px / 620px);
	padding: 20px 0 0 percentage(320px / 620px);
	margin: 0 0 0 percentage(-320px / 620px);
}

#respond {
	
	ul {
		float: left;
		width: 100%;
		margin: 0 0 24px 0;
		
		li {
			
			strong {
				position: absolute;
				left: -120px;
				width: 110px;
				text-align: right;
				margin: 2px 0 0 0;
			}
			
			&.url {
				display: block;
			}

			
		}
		
	}
	
	
}