// FEATURE 720

#feature {
	height: 440px;
	
	figure {
		top: -60px;
		height: 460px;
	}
	
	h1 {
		position: relative;
		width: 80px * 5;
		font-size: 80px;
		line-height: 80px;
		letter-spacing: -2px;
		margin: 24px 0 24px 0;
	}
	
	p {
		width: 380px;
		font-size: 24px;
		line-height: 36px;
		margin: 0 0 36px 0;
	}
	
}