fieldset#register-options {
	width: 960px;
	margin: 0 0 24px -330px;
	
	ul li label {
		width: 620px;
		padding: 0;
		margin: 0 0 0 330px;
	}
	
	ul li .select-ws h4 {
		width: 620px;
		margin: 0 0 10px 330px;
	}
	
}