// SECTIONS

#sections {
	
	h2 {
		font-size: 12px;
		line-height: 20px;
		color: White;
		text-transform: uppercase;
		letter-spacing: normal;
		margin: 0 0 8px 0;
	}

	#services,
	#calendar,
	#blog {
		float: left;
		width: 100%;
		margin: 0 0 36px 0;
	}	

}

// CASE STUDY

#projects {
	float: left;
	width: 100%;

	#case {
	}

	h5 {
		float: left;
		width: 100%;
		margin: -12px 0 24px 0;
	}
	
}

// services

#services {

	ul {
		list-style: none;
		padding: 0;
		margin: 0 0 12px 0;
		
		li {
		
			a {
				color: $title_link;
				text-decoration: none;
				padding: 0 0 0 30px;
				
				&:hover {
					text-decoration: underline;
				}
	
			}

			// icons
			
			&.product-nettsted a {
				background: url(../img/product/nettsted-small.png) left no-repeat;
			}
			
			&.product-intranett a {
				background: url(../img/product/intranett-small.png) left no-repeat;
			}
			
			&.product-mobil a {
				background: url(../img/product/mobil-small.png) left no-repeat;
			}
			
			&.product-brukertest a {
				background: url(../img/product/brukertest-small.png) left no-repeat;
			}
			
			&.product-brukerbehov a {
				background: url(../img/product/brukerbehov-small.png) left no-repeat;
			}
			
			&.product-customercarewords a {
				background: url(../img/product/customercarewords-small.png) left no-repeat;
			}
			
			&.product-design a {
				background: url(../img/product/design-small.png) left no-repeat;
			}
			
			&.product-ekspertevaluering a {
				background: url(../img/product/ekspertevaluering-small.png) left no-repeat;
			}
			
			&.product-innholdsanalyse a {
				background: url(../img/product/innholdsanalyse-small.png) left no-repeat;
			}
			
			&.product-kursing a {
				background: url(../img/product/kursing-small.png) left no-repeat;
			}
			
			&.product-maling a {
				background: url(../img/product/maling-small.png) left no-repeat;
			}
			
			&.product-strategi a {
				background: url(../img/product/strategi-small.png) left no-repeat;
			}		

		}
	
	}
	
}

// calendar

#calendar {
	float: left;
	width: 100%;
	
	.item {
		margin: 0 0 12px 0;
		
		h3 a {
			text-decoration: underline;
		}

		
	}
	
}

// blog

#blog {
	float: left;
	width: 100%;
	
	.story {
	
		h3 {
			font-size: 18px;
			line-height: 24px;
			
			a {
				text-decoration: underline;
			}
	
		}
		
		.avatar {
			float: left;
			width: 60px;
			height: 60px;
			margin: 5px 10px 0 0;
			
		}

		p {
			margin: 0 0 12px 0;
		}
		
	}

}

// mobile

@media only screen and (max-width: 599px) {
	@import "screen-netlife-sections-mobile";
}

// 600

@media only screen and (min-width: 600px) {
	@import "screen-netlife-sections-600";
}

// 960

@media only screen and (min-width: 980px) {
	@import "screen-netlife-sections-960";
}