/* FEATURE */

#feature {

	aside {
		
		img {
			width: percentage(220px / 280px);
			height: auto;
			margin: -24px 0 0 0;
		}
		
		@media only screen and (max-width: 599px) {
		
			img {
				width: 120px;
				height: auto;
				margin: 5px 5px 0 0;
			}
			
		}

	}

	h3 {
		margin: 18px 0 6px 0;
		
		a {
			color: $netlife_green;
		}

	}

	h1 {
		font-family: georgia, serif;
	}
	
	margin: 0 0 48px 0;

}

/* HIGHLIGHTS */

#highlights {
	
	clear: both;
	
	.c1 {
		
		img {
			float: left;
			width: percentage(220px / 280px);
			height: auto;
			margin: 0 0 12px 0;	
		}
		
		h3 {
			clear: both;
			
			a {
				color: $netlife_green;
			}
		
		}

		p {
			margin: 0 20px 48px 0;
		}

	}

	@media only screen and (max-width: 599px) {
		
		.c1 {
	
			img {
				width: 120px;
				height: auto;
				margin: 5px 15px 0 0;
			}

			h3 {
				clear: none;
			}

		}		
	
	}

}