// stats table

table.playerStats {
	display: block;
	float: left;
	width: 100%;

	border-bottom: 1px solid #ccc;
	margin: 0 0 20px 0;

	// caption
	
	caption {
		display: block;
		float: left;
		width: 100%;
		
		font-size: 14px;
		font-weight: bold;
		color: $link;

		padding: 10px 0;			

		@include respond-to('medium') {
			float: none;
			display: table-caption;
		}

	}

	// groups, rows and columns
	
	thead,
	tbody,
	tfoot {

		float: left;
		width: 100%;
	
		tr {

			float: left;
			width: 100%;
			
			th,
			td {
				float: left;
				width: 100%;

				border-top: 1px solid #ccc;
				padding: 10px 0;
			}
			
		}
		
	}

	// goals and cards

	tbody tr td,
	tfoot tr td {

		// goals
		
		&.goals {
			
			span:after {
	
				content: 'gls';
				display: inline-block;
	
				vertical-align: middle;
				
				font-size: 14px;
				line-height: 12px;
	
				background: White;
				color: White;
	
				width: 14px;
				height: 14px;
				
				@include border-radius(7px);
				overflow: hidden;
	
				margin: 0 4px 3px 4px;
				
			}
	
		}
	
		// cards
		
		&.cards {
		
			span:after {
	
				display: inline-block;
	
				vertical-align: middle;
				
				font-size: 14px;
				line-height: 12px;
	
				background: Black;
				color: Black;
	
				width: 14px;
				height: 14px;
				
				@include border-radius(7px);
				overflow: hidden;
	
				margin: 0 4px 3px 4px;
				
			}
	
			// yellow
	
			span.yc:after {
				content: 'yc';
				background: $card_yellow;
				color: $card_yellow;
			}
	
			// red
	
			span.rc:after {
				content: 'rc';
				background: $card_red;
				color: $card_red;
			}
	
		}

	}
	
	// reset table layout
	
	@include respond-to('medium') {

		display: table;

		thead {
			float: none;
			display: table-header-group;
		}

		tbody {
			float: none;
			display: table-row-group;
		}

		tfoot {
			float: none;
			display: table-footer-group;
		}
		
		thead tr,
		tbody tr,
		tfoot tr {
			float: none;
			display: table-row;
			width: auto;
			
			th,
			td {
				float: none;
				display: table-cell;
				width: auto;
			}

		}
		

	}
		
	// SEASON + CAREER

	&#playerStats-season,
	&#playerStats-career {
	
		// head
	
		thead {
			
			tr {

				// first header

				&:first-child {

					th {
					
						&:first-child {
							display: none;
	
							@include respond-to('medium') {
								display: table-cell;
							}
	
						}
						
						width: 25%;
						font-size: 14px;
						font-weight: normal;
	
						@include respond-to('medium') {
	
							font-size: 16px;
							font-weight: bold;
							width: percentage(1/5);
	
						}
						
					}
					
				}

				// second header

				&:nth-child(2) {
					display: none;

					@include respond-to('medium') {

						display: table-row;

						th {

							border-top: none;
							padding: 0 0 10px 0;						
	
							font-size: 12px;
							font-weight: normal;
							
						}

					}

				}
				
			}
			
		}
		
		// body

		tbody {

			tr {
				
				th {
					width: percentage(1/5);
					width: 100%;
					padding: 10px 0 0 0;

					@include respond-to('medium') {

						width: percentage(3/15);
						padding: 10px 0;

					}					

				}
				
				td {
					width: 25%;
					border-top: none;
					padding: 0 0 10px 0;

					font-size: 14px;
					
					@include respond-to('medium') {
						width: percentage(1/15);
						border-top: 1px solid #ccc;
						padding: 10px 0;

						font-size: 14px;

						&.apps {
							width: percentage(3/60);
						}
						
						&.goals {
							width: percentage(3/60);
						}

						&.cards {
							width: percentage(6/60);
						}

					}					

					&.goals,
					&.cards {

						position: relative;
						margin-left: -25%;
						top: 25px;
				
						border-top: none;
				
						@include respond-to('medium') {
							margin-left: auto;
							top: auto;
				
							border-top: 1px solid #ccc;
						}

					}

				}

				// player has goals or cards

				&.goals,
				&.cards {

					td.apps {
						height: 45px + 25px;
						white-space: nowrap;
						
						@include respond-to('medium') {
							height: auto;
						}
				
					}
					
				}

				// player has goals and cards

				&.goals.cards {

					td.apps {
						height: 45px + 25px + 25px;
						white-space: nowrap;
						
						@include respond-to('medium') {
							height: auto;
						}
				
					}
					
					td.cards {
						top: 50px;
					}
					
				}
							
			}
			
			/*

			a {

				display: block;
				float: left;
				
				@include respond-to('medium') {
				
					span {
						display: none;
					}
					
					&:after {
						content: attr(title);
					}
					
				}
				
			}
			
			*/
			
		}

	}
	
	// competition
	
	&#playerStats-competition {

		// body
		
		tbody {

			tr {
				
				th {
					width: percentage(6/10);
					width: percentage(2/5);
				}
				
				td {
					width: percentage(1/5);
				}
							
			}
			
			a {

				display: block;
				float: left;

				span {
					display: none;
				}
				
				&:after {
					content: attr(title);
				}
				
			}
			
		}
	
	}
	
}