// stats table

table.playerStats {
	display: block;
	float: left;
	width: 100%;

	border-bottom: 1px solid #ccc;
	margin: 0 0 20px 0;

	@include respond-to('medium') {
		display: table;
	}

	// caption
	
	caption {
		display: block;
		float: left;
		width: 100%;
		
		font-size: 14px;
		font-weight: bold;
		color: $link;

		padding: 10px 0;			

		@include respond-to('medium') {
			float: none;
			display: table-caption;
		}

	}

	// table groups
	
	thead,
	tbody,
	tfoot {
		float: left;
		width: 100%;
	}
	
	tfoot {
		float: right;
		width: 100%;
	}

	@include respond-to('medium') {

		thead {
			float: none;
			display: table-header-group;
		}

		tbody {
			float: none;
			display: table-row-group;
		}

		tfoot {
			float: none;
			display: table-footer-group;
		}

	}
		
	// rows and cols
	
	tr {
		display: block;
		float: left;
		width: 100%;

		@include respond-to('medium') {
			float: none;
			display: table-row;
		}
		
		th,
		td {
			display: block;
			float: left;
			width: percentage(1/5);

			border-top: 1px solid #ccc;
			padding: 10px 0;

			font-size: 14px;

			@include respond-to('medium') {
				float: none;
				display: table-cell;
				width: auto;

				font-size: 16px;
			}

		}

	}
	
	// head
	
	thead {
	
		tr {
		
			&:nth-child(1) th,
			&:nth-child(1) td {

				@include respond-to('medium') {
					padding: 10px 0 0 0;
				}

			}
			
			&:nth-child(2) th,
			&:nth-child(2) td {
				display: none;

				@include respond-to('medium') {
					display: table-cell;
					border-top: none;
					padding: 0 0 10px 0;

					font-size: 12px;
				}

			}
			
			
		}
		
	}
	
	// body + foot
	
	tbody,
	tfoot {
	
		tr {
			
			th {
				width: percentage(1/5);
			}
			
			td {
				width: percentage(1/5);

				@include respond-to('medium') {
					width: percentage(1/10);
				}

			}
			
		}
		
	}
	
	// foot

	tfoot {
	
		tr {

			&:nth-child(1) th,
			&:nth-child(1) td {
				padding: 10px 0 0 0;
			}

			&:nth-child(2) th,
			&:nth-child(2) td {
				border-top: none;
				padding: 0 0 10px 0;
				margin-top: -10px;
				font-size: 12px;
				color: $link;
			}
			
			&:nth-child(2) td {

				&:after {

					@include respond-to('medium') {
						content: ' mål/kamp';
					}

				}

			}
			
		}
		
	}			

	// apps + goals

	.apps {
		height: 45px + 25px;
		white-space: nowrap;
		
		@include respond-to('medium') {
			height: auto;
		}

	}
	
	.goals {
		position: relative;
		margin-left: -20%;
		top: 25px;

		border-top: none;
		color: $link;

		@include respond-to('medium') {
			margin-left: auto;
			top: auto;

			border-top: 1px solid #ccc;
		}
		
		span:after {

			content: '+';
			display: inline-block;

			vertical-align: middle;
			
			font-size: 14px;
			line-height: 12px;

			background: White;
			color: White;

			width: 14px;
			height: 14px;
			
			@include border-radius(7px);

			margin: 0 4px 3px 4px;
			
		}

	}

	// season

	&#playerStats-season {

		tbody {

			a {

				display: block;
				float: left;
				
				@include respond-to('medium') {
				
					span {
						display: none;
					}
					
					&:after {
						content: attr(title);
					}
					
				}
				
			}
			
		}

	}
	
	// competition
	
	&#playerStats-competition {

		// rows and cols
		
		tr {
			
			th {
				width: percentage(4/5);
			}

			@include respond-to('medium') {

				th {
					width: auto;
				}

			}
						
		}
		
		// body
		
		tbody {
			
			a {

				display: block;
				float: left;

				span {
					display: none;
				}
				
				&:after {
					content: attr(title);
				}
				
			}
			
		}

		// head
		
		thead {
		
			tr {
			
				th {
					display: none;
	
					@include respond-to('medium') {
						display: table-cell;
						font-size: 12px;
						padding: 10px 0;
					}
	
				}
				
				
			}
			
		}
	
	}
	
}