// stats table

table.teamStats {
	display: block;
	float: left;
	width: 100%;

	border-bottom: 1px solid #ccc;
	margin: 0 0 20px 0;

	@include respond-to('medium') {
		display: table;
	}

	// caption
	
	caption {
		display: block;
		float: left;
		width: 100%;
		
		font-size: 16px;
		font-weight: bold;
		
		@include opacity(0.5);

		padding: 10px 0;			

		@include respond-to('medium') {
			float: none;
			display: table-caption;
		}
		
		display: none !important;

	}
	
	// table groups
	
	thead,
	tbody,
	tfoot {
		float: left;
		width: 100%;
	}

	@include respond-to('medium') {

		thead {
			float: none;
			display: table-header-group;
		}

		tbody {
			float: none;
			display: table-row-group;
		}

		tfoot {
			float: none;
			display: table-footer-group;
		}

	}

	// rows and cols
	
	tr {
		display: block;
		float: left;
		width: 100%;

		@include respond-to('medium') {
			float: none;
			display: table-row;
		}
		
		th,
		td {
			display: block;
			float: left;
			width: percentage(1/5);

			border-top: 1px solid #ccc;
			padding: 10px 0;

			font-size: 14px;

			width: percentage(1/5);

			&:nth-child(2) {
				width: percentage(10/50);
			}
		
			&:nth-child(3),
			&:nth-child(4),
			&:nth-child(5) {
				width: percentage(9/50);
				width: percentage(1/5);
			}

			&:nth-child(6) {
				width: percentage(1/5);
				position: relative;
				top: 0;
				margin-left: -20%;
				text-align: right;
				font-size: 12px;
				color: $link;
			}

			&:nth-child(7) {
				display: none;
			}

			@include respond-to('medium') {
				float: none;
				display: table-cell;
				font-size: 16px;

				&:nth-child(2) {
					width: percentage(1/5);
				}

				&:nth-child(3),
				&:nth-child(4),
				&:nth-child(5) {
					width: percentage(1/10);
				}
				
				&:nth-child(6) {
					display: table-cell;
					width: percentage(1/10);
					margin-left: 0;
					text-align: left;
					font-size: 14px;
				}

				&:nth-child(7) {
					display: table-cell;
					width: percentage(1/5);
					color: $link;
				}
				
			}

		}

	}
	
	// head
	
	thead {

		tr {
		
			&:nth-child(1) th,
			&:nth-child(1) td {
				border-top: 0;
				padding: 10px 0 0 0;
			}
			
			&:nth-child(2) th,
			&:nth-child(2) td {
				
				vertical-align: bottom;

				border-top: none;
				padding: 0 0 10px 0;
				
				&.pld {
					padding: 25px 0 10px 0;
				}

				@include respond-to('medium') {
					display: table-cell;
				}

			}
			
			.pld, .w, .d, .l {

				font-size: 12px;
				font-weight: normal;

//				@include respond-to('medium') {

					span {
						display: none;
					}
	
					&:before {
						content: attr(title);
					}				

//				}

			}
			
		}

		.graph {
			display: block;
			float: left;
			width: 90%;
			position: relative;
			padding: 0 20px 0 0;
			height: 50px;
			background: #ccc;


			.pct {
				position: absolute;
				bottom: 0;
				width: 100%;
				display: block;

				background: White;
				
				em {
					position: absolute;
					font-size: 12px;
					line-height: 20px;
					padding: 0 4px;
				}
				
				&.low em {
					top: -20px;
					color: White;
				}

				&.high em {
					bottom: 0;
				}
				
			}

		}

		
	}
	
	// body + foot
	
	tbody,
	tfoot {
		
	}
	
}