// RESET

@import "compass/reset";
@import "compass/css3";
@import "compass/layout/grid-background";

// VARIABLES & MIXINS

$text: #444;
$link: #e40011;

$card_yellow: darken(Yellow, 5%);
$card_red: #e40011;

@import "mixins-responsive";

// TYPOGRAPHY + GRID

@import "screen-fonts";
@import "screen-typography";
@import "screen-forms";

@import "screen-grid";

// HEADER + FOOTER

@import "screen-header";
@import "screen-footer";
@import "screen-navigation";

// TEMPLATES

@import "article-match";
@import "article-player";
@import "article-season";

// SECTIONS

@import "section-index";
@import "section-resfix";
@import "section-playerStats";
@import "section-teamStats";

